body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: @font-color-default;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media (min-width: @tablet-width) {
  body {
    min-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .site-container {
    width: @desktop-width;
    padding: 0 40px;
    margin: 0 auto;
  }
}
