.catalog-page {
  padding: 0 20px;
}

.catalog-page__title {
  .secondTitle();
  color: #000000;
}

.catalog-page__list {
  .listStyleNone();
}

@media (min-width: @tablet-width) {
  .catalog-page__title {
    font-size: 60px;
    line-height: 60px;
  }
}
