.catalog-page__title {
  .secondTitle();
}

.catalog-page__list {
  .listStyleNone();
}

.product-list__title {
  font-family: @oswaldRegularFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}




