.product {
  background-color: #f2f2f2;
}

.product__title {
  font-family: @oswaldRegularFont;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.product__text {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.product__link {
  font-family: @oswaldRegularFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
